{% if imageUrl is defined and imageUrl is not empty %}
    <!-- Show image -->
    <div class="form-group row mt-3 image-preview" id="image-container">
        <div class="col-sm">
            <div class="preview-wrapper">
                <figure class="figure">
                    <img src="{{ imageUrl }}" class="figure-img img-fluid img-thumbnail">
                </figure>
                <div class="d-block">
                    <button class="btn btn-danger inf-delete-btn mt-2" data-inf_id="{{ id_infofield }}" data-item_id="{{ item_id }}" data-file="{{ imageUrl }}" data-type="image">Delete File</button>
                    <img src="/path/to/loader.gif" class="loader" style="display:none;" alt="Loading">
                </div>
            </div>
        </div>
    </div>
{% elseif fileUrl is defined and fileUrl is not empty %}
    <!-- Show file preview and download link -->
    <div class="file-preview preview-wrapper" id="file-container">
        <a href="{{ fileUrl }}" target="_blank" class="download-link">
            Download File
        </a>
        <div>
            <button class="btn btn-danger inf-delete-btn mt-2" data-inf_id="{{ id_infofield }}" data-item_id="{{ item_id }}" data-file="{{ fileUrl }}" data-type="file">Delete File</button>
            <img src="/path/to/loader.gif" class="loader" style="display:none;" alt="Loading">
        </div>
    </div>
{% endif %}